<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Price Change</h3>
        <div align="right">v0.0.1</div>
      </div>
      <hr/>
      <div>
      
      <form name = "geturl" action="upload" method="post">
        <input type="text" name="URL"><br /><br />
        <input type="submit" value="Submit">
      </form>
      </div>
    </div>
  </body>
</html>